<template class="task-template">
    <section id="ex-links-file-manager-section" class="section js-section u-category-native-ui">
        <header class="section-header">
            <div class="section-wrapper">
                <h1>
                    <svg class="section-icon">
                        <use xlink:href="/img/icons.svg#icon-native-ui"></use>
                    </svg>
                    打开外部链接和文件管理器
                    (Open external links and the file manager)
                </h1>
                <h3>Electron.Java 中的 <code>Electron.getShell()</code> 允许你访问某些本机功能,例如文件管理器和默认网络浏览器.</h3>
                <h3>The <code>Electron.getShell()</code> in Electron.Java allows you to access certain native elements
                    like
                    the file manager and default web browser.</h3>

                <p>该模块在主进程和渲染进程中都有效.</p>
                <p>This module works in both the main and renderer process.</p>

                <p>你可以在<code>controller\ShellController.java</code> 中找到示例源代码.</p>
                <p>You find the sample source code in <code>controller\ShellController.java</code>.</p>
            </div>
        </header>

        <div class="demo">
            <div class="demo-wrapper">
                <button id="open-file-manager-demo-toggle" class="js-container-target demo-toggle-button">
                    在文件管理器中打开路径
                    (Open Path in File Manager)
                    <div class="demo-meta u-avoid-clicks">支持的系统: Win, macOS, Linux
                        <span class="demo-meta-divider">|</span> 进程: 主进程和渲染进程
                    </div>
                    <div class="demo-meta u-avoid-clicks">Supports: Win, macOS, Linux
                        <span class="demo-meta-divider">|</span> Process: Both
                    </div>
                </button>
                <div class="demo-box">
                    <div class="demo-controls">
                        <button class="demo-button" id="open-file-manager">查看示例(View Demo)</button>
                    </div>
                    <p>这演示了如何使用 <code>Electron.getShell()</code> 在特定位置打开系统文件管理器.</p>
                    <p>This demonstrates using the <code>Electron.getShell()</code> to open the system file manager at a
                        particular location.</p>
                    <p>单击演示按钮将在根目录打开文件管理器.</p>
                    <p>Clicking the demo button will open your file manager at the root.</p>
                    <h5>主进程(Java)|Main Process (Java)</h5>
                    <pre>
                        <code class="java">Electron.getApp().GetPathAsync(PathName.home).thenAccept(path -> {
    Electron.getShell().ShowItemInFolderAsync(path);
});</code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="demo">
            <div class="demo-wrapper">
                <button id="open-ex-links-demo-toggle" class="js-container-target demo-toggle-button">
                    打开外部链接
                    (Open External Links)
                    <div class="demo-meta u-avoid-clicks">支持的系统: Win, macOS, Linux
                        <span class="demo-meta-divider">|</span> 进程: 主进程和渲染进程
                    </div>
                    <div class="demo-meta u-avoid-clicks">Supports: Win, macOS, Linux <span
                            class="demo-meta-divider">|</span> Process: Both
                    </div>
                </button>
                <div class="demo-box">
                    <div class="demo-controls">
                        <button class="demo-button" id="open-ex-links">查看示例(View Demo)</button>
                    </div>
                    <p>如果您不希望您的应用在<em>应用内</em>打开网站链接,您可以使用 <code>Electron.getShell()</code> 在外部打开它们.
                        点击后,链接将在您的应用之外和用户的默认网络浏览器中打开.</p>
                    <p>If you do not want your app to open website links <em>within</em> the app, you can use the <code>Electron.getShell()</code>
                        to open them externally. When clicked, the links will open outside of your app and in the user's
                        default web browser.</p>

                    <p>当点击演示按钮时,Electron网站将在您的浏览器中打开. </p>
                    <p>When the demo button is clicked, the electron website will open in your browser. </p>
                    <h5>主进程(Java)|Main Process (Java)</h5>
                    <pre>
                        <code class="java">Electron.getShell().OpenExternalAsync("https://github.com/ElectronNET");</code>
                    </pre>
                </div>
            </div>
        </div>

        <script>
            (function () {
                const {ipcRenderer} = require("electron");

                document.getElementById("open-file-manager").addEventListener("click", () => {
                    ipcRenderer.send("open-file-manager");
                });

                document.getElementById("open-ex-links").addEventListener("click", () => {
                    ipcRenderer.send("open-ex-links");
                });
            }());
        </script>
    </section>
</template>